.home-overlay { position: fixed; top: -30px; left: -30px; right: -30px; bottom: -30px; z-index: 0; }
.homepage { width: 100%; height: 100%; position: absolute; overflow: hidden;
	.home-overlay { z-index: 0; }
	@include breakpoint(large) { 
		&.hide-burger .main-navigation .burger-nav { visibility: hidden; }
		&.show-burger .main-navigation .burger-nav { }
	}
	.navbar-top { position: fixed; top: 0; left: 0; width: 100%; z-index: 3;  }
}

/**
 *
 * Home header
 *
 */

.home-header { position: fixed; width: 100%; height: 100%; top: 0; left: 0; display: table; z-index: 0;
	@include breakpoint(small only) { 
		h1 { font-size: 28px !important }
	}
	// @include breakpoint(medium only) {
	// 	h1 { font-size: 65px !important }
	// }
	@include breakpoint(medium down) { 
		header h1 span { padding: 0 10px; }
	}
	@include breakpoint(large) { 
		header h1 span { padding: 0 30px; }
	}
	@include breakpoint(xxlarge) { 
		header h1 span { padding: 0 25px; }
	}
	.header-wrapper { display: table-cell; vertical-align: middle; 
		@include breakpoint(medium down) { padding: 0 !important; }
	}
	.columns { position: relative; }
	
	header h1 { text-transform: uppercase; text-align: center; margin-bottom: 0;
		> span { white-space: nowrap; display: inline-block; }
		span { 
			@include breakpoint(medium down) { padding: 0 10px !important; }
		}
	}
	header { position: relative; width: 100%; z-index: 1; }
}


.scene { position: fixed; top: 0; left: 0; bottom: 0; right: 0; }
.layer { left: 0; top: 0; right: 0; bottom: 0; height: 100%; }


/**
 *
 * Home video
 *
 */

.home-video-controls {
	.video-control { position: fixed; z-index: 20; opacity: 0; display: none; cursor: pointer; 
		&:hover {
			.circle-dark { r: 95; transition: r .4s .1s; }
			.circle-light { stroke-width: 0; transition: stroke-width .4s;}
		} 
		.circle-light { transition: stroke-width .4s .1s; }
		.circle-dark { transition: r .4s; }
	}
	.play { top: 50%; left: 50%; margin-left: -90px; margin-top: -90px;	}
	.pause { bottom: 100px; right: 100px; }
	&.home-video-control-down { 
		.play { bottom: 100px; right: 100px; top: auto; left: auto; margin-left: auto; 
			svg { width: 100px; height: 100px; }
		}
	}
	.circle-light { opacity: .3; }
}
.home-mobile-video-control { position: fixed; z-index: 2; top: 50%; left: 50%; margin-left: -90px; margin-top: -90px; 
	a { display: block; width: 100%; height: 100%; }
	svg { width: 180px; height: 180px; }
	&.home-mobile-control-down { top: auto; bottom: 50px; margin-left: -50px;
		svg { width: 100px; height: 100px;  }
	}
	.circle-light { opacity: .3; }
}


/**
 *
 * Footer
 *
 */

.home-footer { position: fixed; bottom: 0; left: 0; width: 100%;
	@include breakpoint(medium down) { text-align: center; }
	.footer-inner { vertical-align: middle; font-weight: bold; }
}
.footer-content { margin: 0 8vw; line-height: 100px; }


/**
 *
 * Offcanvas
 *
 */
.off-canvas-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 22; transform: translateX(-100%);
	.row { height: 100%; }
 }
.off-canvas-overlay { position: absolute; top: 0; left: 0; width: 50%; height: 100%; z-index: 20; 
	@include breakpoint(medium down) { width: 100%; }
}
.off-canvas-content { background: transparent; z-index: 21; position: relative; opacity: 0; overflow-y: auto; height: 100%; 
	.content { 
		@include breakpoint(large only) { margin: 4vw 8vw; }
		@include breakpoint(xlarge only) { margin: 4vw 6vw; }
		@include breakpoint(xxlarge) { margin: 4vw 4vw; }
	}
	@include breakpoint(medium down) {
		.logo-lg { margin: 0 auto; height: 100px; line-height: 100px; @include calc( max-width, '100% - 140px'); }
	
	}
}
.close-off-canvas { position: absolute; top: 50%; right: 50%; transform: rotateZ(90deg); z-index: 22; transform-origin: center; width: 300px; text-align: center; margin-right: -120px; font-size: 14px; opacity: 0; display: none; backface-visibility: hidden;
	a { padding: 2px; backface-visibility: visible;
		&:hover { backface-visibility: visible; }
	}
	@include breakpoint(medium down) { font-weight: bold; right: 15px; }
}
.open-off-canvas { position: fixed; top: 50%; left: 30px; font-size: 14px; transform: translateX(-50%) rotateZ(90deg) translateY(0); transform-origin: center; text-align: center; z-index: 10;
	a { position: relative; padding: 2px; }
	@include breakpoint(medium down) { font-weight: bold; left: 15px; z-index: 3; }
}

/**
 *
 * Mask
 *
 */

.video-overlay-1 { background-image: url(../images/overlay/01.png);}
.video-overlay-2 { background-image: url(../images/overlay/02.png);}
.video-overlay-3 { background-image: url(../images/overlay/03.png);}
.video-overlay-4 { background-image: url(../images/overlay/04.png);}
.video-overlay-5 { background-image: url(../images/overlay/05.png);}
.video-overlay-6 { background-image: url(../images/overlay/06.png);}
.video-overlay-7 { background-image: url(../images/overlay/07.png);}
.video-overlay-8 { background-image: url(../images/overlay/08.png);}
.video-overlay-9 { background-image: url(../images/overlay/09.png);}


/**
 *
 * Home 2
 *
 */

.homepage2 { position: fixed; top: 0; left: 0; height: 100%; width: 100%;
	// .lang-social-menu { display: none; }
	> .navbar-top { position: absolute; top: 0; left: 0; width: 100%; }
	.home2-footer { position: fixed; bottom: 0; left: 0; width: 100%;
		@include breakpoint(medium down) { text-align: center; }
		span { vertical-align: middle; font-weight: bold; font-size: 12px; }
	}
	// .bg-img {
	// 	@include breakpoint(medium down) { display: none; }
	// }
	.home-overlay { z-index: 2;
		@include breakpoint(medium down) { z-index: 1; }
	}
	.bg-img-hover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; opacity: 0; z-index: 1; transition: opacity .8s cubic-bezier(0.4, 0, 0.2, 1); }

	.home-nav-items { position: relative; display: table; width: 100%; height: 100%; table-layout: fixed;
		&.no-nav { margin-top: 0 !important; }
		.home-nav-item { display: table-cell; text-align: center; height: 100%; overflow: hidden; 
			&:last-of-type {
				a { border: none; }
			}
			.item-wrapper { display: table-cell; vertical-align: middle; }
			span { /* font-size: 26px; text-transform: uppercase; color: #fff; letter-spacing: 5px; */ vertical-align: middle; position: relative; z-index: 1; 
				// &:before { content: ''; position: absolute; top: 0; left: -5px; @include calc( width, '50% + 10px'); height: 100%; z-index: -1; transform: scaleX(0); transition: transform .4s; transform-origin: left; }
				@include breakpoint(small only) { font-size: 18px; }
				@include breakpoint(medium only) { font-size: 20px; }
			}
			a { display: table; height: 100%; width: 100%; position: relative; overflow: hidden; z-index: 2; border-right-width: 2px; border-right-style: solid;
				&:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), opacity .4s cubic-bezier(0.4, 0, 0.2, 1); transform: translateX(-100%); opacity: 0; z-index: -1; }
				&:hover {
					&:before { transform: translateX(0); opacity: .2; }
					// span:before { transform: scaleX(1); }
					
				}
			}
			@include breakpoint(medium down) { background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative;  
				.bg-img-hover { position: absolute; }
				a { position: relative; z-index: 2; }
			}
		}
		&.item-full-width { 
			.home-nav-item { display: block; width: 100%; border: none !important; /* border-top-width: 2px; border-top-style: solid; border-color: rgba(255,255,255,.1); border-right: none; */ }
		}
	}
	.hover-active .bg-img-hover { opacity: 1; }
	.home2-footer { z-index: 2; 
		// @include breakpoint(small only) { 
			p { line-height: 50px; }
		// }
	}
	.footer-content { 
		p { font-size: 12px; }
		@include breakpoint(small only) { text-align: center !important; 
			p { text-align: center !important; }
		}
	}
}

