.page-mask { position: fixed; z-index: 999; top: 0; left: 0; height: 100vh; width: 100vw; background: #111; }
.blast { visibility: hidden; }
.decoration { visibility: hidden; }
.page-wrapper { width: 100%; overflow: hidden; }

.home-nav, .logo-lg, .open-off-canvas, .home-footer, .lang-social-menu { opacity: 0; transition: opacity 0.7s 0.3s;}
.show-additional { 
	.home-nav, .logo-lg, .open-off-canvas, .home-footer, .lang-social-menu { opacity: 1;}
}

.home-slide {
    position: absolute;
    // height: 100%;
    // width: 100%;
    left: -30px;
    top: -30px;
    bottom: -30px;
    right: -30px;
    background-size: cover;
    background-position: center center;
}

.video-home-wrapper { z-index: -1; }
.video-mask,
.video-overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0;}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.gallery-caption { background: transparent; };
.bypostauthor { background: transpraent; }
.mauna-woocommerce { min-height: 100vh; }

@media screen and (min-width: 1024px) and (max-width: 1399px) {
    div#fp-nav { right: 20px !important; }
}

@media screen and (min-width: 1024px) and (max-width: 1270px) {
    .pos_right .about-content-wrapper { padding-right: 40px; }
}